<%= form_with(model: trip) do |form| %>
  <div>
    <%= form.hidden_field :create_by, :value => current_user.username %>
  </div>

    <div class = "form__group field">
    <%= form.date_field :trip_date, placeholder: "mm/dd/yyyy", class: "form__field" %>
    <label for="date" class="form__label">Date</label>
  </div>

 <div class ="form__group field">
  <%= form.text_field :title, placeholder: "Title", class: "form__field" %>
  <label for="title" class="form__label">Title</label>
</div>

 <div class ="form__group field" style="margin-top: 5px">
    <%= form.text_field :description, placeholder: "Description", class: "form__field" %>
  </div>



  <div>
    <%= form.hidden_field :upvotes, :value => 0 %>
  </div>

  <div>
    <%= form.hidden_field :shares, :value => 0 %>
  </div>

 <div class ="form__group field">
  <%= form.check_box :public %>
  <label for="public" class="form__label" style = "justify-content:left">Public</label>
</div>

  <%# parent id %>

  <div>
    <%= form.hidden_field :parent, :value => -1 %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
