<%= form_with(model: trip) do |form| %>
  <div>
    <%= form.hidden_field :create_by, :value => current_user.username %>
  </div>

  <div>
    <%= form.label :trip_date, style: "display: block" %>
    <%= form.date_field :trip_date %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.hidden_field :upvotes, :value => 0 %>
  </div>

  <div>
    <%= form.hidden_field :shares, :value => 0 %>
  </div>

  <div>
    <%= form.label :public, style: "display: block" %>
    <%= form.check_box :public %>
  </div>

  <%# parent id %>

  <div>
    <%= form.hidden_field :parent, :value => -1 %>
  </div>

  <% if trip.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% trip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
