<%= form_with(model: trip) do |form| %>
  <% if trip.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% trip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :create_by, style: "display: block" %>
    <%= form.text_field :create_by %>
  </div>

  <div>
    <%= form.label :trip_date, style: "display: block" %>
    <%= form.date_field :trip_date %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :upvotes, style: "display: block" %>
    <%= form.number_field :upvotes %>
  </div>

  <div>
    <%= form.label :shares, style: "display: block" %>
    <%= form.number_field :shares %>
  </div>

  <div>
    <%= form.label :public, style: "display: block" %>
    <%= form.check_box :public %>
  </div>

  <div>
    <%= form.label :parent, style: "display: block" %>
    <%= form.number_field :parent %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
