<div id="<%= dom_id trip %>">
  <p>
    <strong>Trip:</strong>
    <%= trip.trip_id %>
  </p>

  <p>
    <strong>Create by:</strong>
    <%= trip.create_by %>
  </p>

  <p>
    <strong>Date created:</strong>
    <%= trip.date_created %>
  </p>

  <p>
    <strong>Trip date:</strong>
    <%= trip.trip_date %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= trip.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trip.description %>
  </p>

  <p>
    <strong>Upvotes:</strong>
    <%= trip.upvotes %>
  </p>

  <p>
    <strong>Shares:</strong>
    <%= trip.shares %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= trip.public %>
  </p>

</div>
