<%= render "layouts/flash" %>
<% provide(:title, "Home") %>
 <%= form_tag(tripsearch_path, :method => "get") do %>
    <div class = "searchfields">
      <%= search_field_tag :name, params[:name], placeholder: "Search Trips by Name", class: "form-control" %>
      <%= search_field_tag :saves, params[:saves], placeholder: "Filter Trips by Min Saves", class: "form-control" %>
      Before Date:
      <%= select_tag :month, options_for_select(month_collector), prompt: "Month", class: :"datefields"%>
      <%= select_tag :day, options_for_select(day_collector), prompt: "Day", class: :"datefields"%>
      <%= select_tag :year, options_for_select(year_collector), prompt: "Year", class: :"datefields"%>
    </div>
    <div >
        <%= button_tag "Filter", :name=> nil, class: :"filtertripbutton"%>
      </div>
  <% end %>



  <div id="trips">
    <% @trips.each do |trip| %>
    <% if trip.public == true %>
      <div class="singleTripBox">
        <div class="singleTripImage">
          <%= image_tag("path.JPG", :class => "indexImages", :alt => "path") %>
          <div class="arrowRight">
            <%= image_tag("arrow_right.png", :alt => "arrow") %>  
          </div>
          <div class="arrowLeft">
            <%= image_tag("arrow_left.png", :alt => "arrow") %>  
          </div>
          <div class="bookmark">
          <% if liked?(trip) %>
            <%= link_to '<ion-icon name="heart-outline" style="font-size: 30px; margin-left: 10px; color: white" class="socialIconBtn"></ion-icon>'.html_safe, likesupdate_path(trip: trip) %>
          <% else %>
            <%= link_to '<ion-icon name="heart" style="font-size: 30px; margin-left: 10px; color: white" class="socialIconBtn"></ion-icon>'.html_safe, likesupdate_path(trip: trip) %>
          <% end %>
          </div>
          <div id="save"></div>
        </div>
        <div class="singleTripDetails">
          <div class="singleTripBold">
            <a href="/trips/<%= trip.id %>" id="tripTitleLink"><%= trip.title %></a>
            <div><%= trip.upvotes %> saves</div>
          </div>
          <div class="singleTripBoldUser">
          <%= link_to user_path(User.where("username LIKE ?", trip.create_by).ids),  :style => 'color:black' do %>
            <div class="singleUserText"><%= trip.create_by %></div>
          <% end %>
            <div><%= get_likes(trip) %> 
            <% if get_likes(trip) == 1 %>
            like
            <% else %>
            likes
            <% end %>
            </div>
          </div>
          <div class="singleTripNorm"><%= trip.trip_date %></div>
        </div>
        
          <%= link_to "Show this trip", trip %>
        
      </div>
      <% end %>
    <% end %>
  </div>
  <div>
      <%= will_paginate @trips, class: :"paginator"%>
  </div>
