<% provide(:title, "Home") %>
<!--<p style="color: green"><%= notice %></p> %>-->

  <div id="trips">
    <% @trips.each do |trip| %>
      <div class="singleTripBox">
        <div class="singleTripImage">
          <%= image_tag("path.JPG", :class => "indexImages", :alt => "path") %>
          <div class="arrowRight">
            <%= image_tag("arrow_right.png", :alt => "arrow") %>  
          </div>
          <div class="arrowLeft">
            <%= image_tag("arrow_left.png", :alt => "arrow") %>  
          </div>
          <div class="bookmark">
            <%= image_tag("save_empty.png", :alt => "save trip") %>
          </div>
          <div id="save"></div>
        </div>
        <div class="singleTripDetails">
          <div class="singleTripBold">
            <a href="/trips/<%= trip.id %>" id="tripTitleLink"><%= trip.title %></a>
            <div><%= trip.upvotes %> saves</div>
          </div>
          <div class="singleTripBoldUser">
            <div class="singleUserText">@<%= trip.create_by %></div>
            <div><%= trip.shares %> recs</div>
          </div>
          <div class="singleTripNorm"><%= trip.trip_date %></div>
        </div>
        
          <%= link_to "Show this trip", trip %>
        
      </div>
    <% end %>

    <%#<% imgs = [] %>
    <%#<%TripLocation.where(trip_id: 23).each do |triploc|%>
     <%#<% file = Location.where(id: triploc.location_id)[0].images[0] %>
      <%#<%if !file.nil?%>
        <%#<% imgs.append(file) %>
      <%#<%end%>
    <%#<% end %>

    <div id="d211df9506ff" class="carousel slide"><ol class="carousel-indicators"><li class="active" data-target="d211df9506ff" data-slide-to="0"></li><li class="" data-target="d211df9506ff" data-slide-to="1"></li></ol><div class="carousel-inner"><div class="item active"><img src="http://localhost:3000/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--50a7039d9c22bde362a465ecdc9b776d42ccf66a/cooks.jpeg" /></div><div class="item"><img src="http://localhost:3000/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--78054cb9f16774b50bf5aa96619aae7daa26b59f/window.jpeg" /></div></div><a class="left carousel-control" data-slide="prev" href="#d211df9506ff"><i class="glyphicon glyphicon-chevron-left"></i></a><a class="right carousel-control" data-slide="next" href="#d211df9506ff"><i class="glyphicon glyphicon-chevron-right"></i></a></div>

    <div class="singleTripBoxD"></div>
    <div class="singleTripBoxD"></div>
    <div class="singleTripBoxD"></div>
    <div class="singleTripBoxD"></div>
  </div>

