<% provide(:title, "Home") %>
<!--<p style="color: green"><%= notice %></p> %>-->

  <div id="trips">
    <% @trips.each do |trip| %>
      <div class="singleTripBox">
        <div class="singleTripImage">
          <%= image_tag("path.JPG", :alt => "path") %>
          <div class="arrowRight">
            <%= image_tag("arrow_right.png", :alt => "arrow") %>  
          </div>
          <div class="arrowLeft">
            <%= image_tag("arrow_left.png", :alt => "arrow") %>  
          </div>
          <div class="bookmark">
            <%= image_tag("save_empty.png", :alt => "save trip") %>
          </div>
          <div id="save"></div>
        </div>
        <div class="singleTripDetails">
          <div class="singleTripBold">
            <a href="/trips/<%= trip.id %>" id="tripTitleLink"><%= trip.title %></a>
            <div><%= trip.upvotes %> saves</div>
          </div>
          <div class="singleTripBoldUser">
            <div class="singleUserText">@<%= trip.create_by %></div>
            <div><%= trip.shares %> recs</div>
          </div>
          <div class="singleTripNorm"><%= trip.trip_date %></div>
        </div>
        
          <%= link_to "Show this trip", trip %>
        
      </div>
    <% end %>
    <div class="singleTripBoxD"></div>
    <div class="singleTripBoxD"></div>
    <div class="singleTripBoxD"></div>
    <div class="singleTripBoxD"></div>
  </div>

