<%# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">     %>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://toert.github.io/Isolated-Bootstrap/versions/4.0.0-beta/iso_bootstrap4.0.0min.css">
<p id="notice"><%= notice %></p>

<% provide(:title, "Home") %>
<!--<p style="color: green"><%= notice %></p> %>-->

  <div id="trips">
    <% @trips.each do |trip| %>
      <div class="singleTripBox">
        <div class="singleTripImage">
          <%= image_tag("path.JPG", :class => "indexImages", :alt => "path") %>
          <div class="arrowRight">
            <%= image_tag("arrow_right.png", :alt => "arrow") %>  
          </div>
          <div class="arrowLeft">
            <%= image_tag("arrow_left.png", :alt => "arrow") %>  
          </div>
          <div class="bookmark">
            <%= image_tag("save_empty.png", :alt => "save trip") %>
          </div>
          <div id="save"></div>
        </div>
        <div class="singleTripDetails">
          <div class="singleTripBold">
            <a href="/trips/<%= trip.id %>" id="tripTitleLink"><%= trip.title %></a>
            <div><%= trip.upvotes %> saves</div>
          </div>
          <div class="singleTripBoldUser">
            <div class="singleUserText">@<%= trip.create_by %></div>
            <div><%= trip.shares %> recs</div>
          </div>
          <div class="singleTripNorm"><%= trip.trip_date %></div>
        </div>
        
          <%= link_to "Show this trip", trip %>
        
      </div>
    <% end %>

    <% imgs = [] %>
    <%TripLocation.where(trip_id: 23).each do |triploc|%>
     <% file = Location.where(id: triploc.location_id)[0].images[0] %>
      <%if !file.nil?%>
        <% imgs.append(file) %>
      <%end%>
    <% end %>
    <%=carousel_for(imgs)%>

    <div class="singleTripBoxD"></div>
    <div class="singleTripBoxD"></div>
    <div class="singleTripBoxD"></div>
    <div class="singleTripBoxD"></div>
  </div>

