
<% provide(:title, "Home") %>
<!--<p style="color: green"><%= notice %></p> %>-->
 <%= form_tag(tripsearch_path, :method => "get") do %>
    <div class = "input-group">
      <%= search_field_tag :name, params[:name], placeholder: "Search Trips by Name", class: "form-control" %>
      <%= search_field_tag :saves, params[:saves], placeholder: "Filter Trips by Min Saves", class: "form-control" %>
      Before Date:
      <%= select_tag :month, options_for_select(month_collector), prompt: "Month"%>
      <%= select_tag :day, options_for_select(day_collector), prompt: "Day"%>
      <%= select_tag :year, options_for_select(year_collector), prompt: "Year"%>
    </div>
    <div class = "input-group-btn">
        <%= button_tag "Filter", :class => 'btn btn-info glyphicon glyphicon-search', :name=> nil%>
      </div>
  <% end %>



<div style="background-color: pink">
  <div id="trips">
    <% @trips.each do |trip| %>
      <div class="singleTripBox">
        <div class="singleTripImage">
          <%= image_tag("path.JPG", :alt => "path") %>
          <div class="arrowRight">
            <%= image_tag("arrow_right.png", :alt => "arrow") %>  
          </div>
          <div class="arrowLeft">
            <%= image_tag("arrow_left.png", :alt => "arrow") %>  
          </div>
          <div class="bookmark">
          <% if liked?(trip) %>
            <%= link_to image_tag("save_empty.png", :alt => "save trip"), likesupdate_path(trip: trip) %>
          <% else %>
            <%= link_to image_tag("save_filled.png", :alt => "save trip"), likesupdate_path(trip: trip) %>
          <% end %>
          </div>
          <div id="save"></div>
        </div>
        <div class="singleTripDetails">
          <div class="singleTripBold">
            <div><%= trip.title %></div>
            <div><%= trip.upvotes %> saves</div>
          </div>
          <div class="singleTripBoldUser">
            <div class="singleUserText">@<%= trip.create_by %></div>
            <div><%= get_likes(trip) %> recs</div>
          </div>
          <div class="singleTripNorm"><%= trip.trip_date %></div>
        </div>
        
          <%= link_to "Show this trip", trip %>
        
      </div>
    <% end %>
    <div class="singleTripBoxD"></div>
    <div class="singleTripBoxD"></div>
    <div class="singleTripBoxD"></div>
    <div class="singleTripBoxD"></div>
  </div>
</div>

