<p style="color: green"><%= notice %></p>
<div id="individualPost">
  <div id="tripHeaders">
    <div id="headerPrimary">
      <div id="postTitle">
        <div>
          <%= @trip.title %>
        </div>
      </div>
      <div id="interactiveButtons">
        <div class="socialBtn">
          <%= get_likes(@trip) %>
          <% if liked?(@trip) %>
            <%= link_to '<ion-icon name="heart-outline" style="font-size: 25px; margin-left: 10px; color: rgb(104, 69, 134)" class="socialIconBtn"></ion-icon>'.html_safe, likesupdate_path(trip: @trip) =%>
          <% else %>
            <%= link_to '<ion-icon name="heart" style="font-size: 25px; margin-left: 10px; color: rgb(104, 69, 134)" class="socialIconBtn"></ion-icon>'.html_safe, likesupdate_path(trip: @trip) =%>
          <% end %>
        </div>
      </div>  
      <%= invited_users(@trip.id).each do | trip_user | %>
        <div>@<%= trip_user %></div>
      <% end %>
    </div>
    <%# Invite user to trip popup and search %>
    <div class="flexRowCenter">
        <% if !current_user.nil? %>
          <% if @trip.create_by == current_user.username %>
            <button id="popUp" class="showPageButton" >Invite a Friend</button>
            <div id="screen"></div>
            <div id="searchUser">
              <div id="inviteContainer">
                <div class="flexDirectionRowCenter" style="justify-content: space-between;">
                  <div style="font-size: 30px">Invite a Friend</div>
                  <div id="closeInvite">
                    <%= image_tag("xicon.png", :alt => "close invite friend window", id:"xicon") %>
                  </div>
                </div>
                <input type="text" placeholder="Search User" id="userSearch"/>
                <button id="showUsers">search</button>
                <div id="userResults">
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <%= button_to "View Planning Tree", "/trips/" << get_original_parent(@trip.id).to_s << "/branches", method: :get, class: "showPageButton" %>
        <% if !current_user.nil? %>
          <%if TripUser.where(trip_id: @trip.id).pluck(:user_id).include? current_user.id%>
            <%= button_to "Create a New Branch", "/trips/" << @trip.id.to_s << "/new_child", method: :get, class: "showPageButton" %>
          <%end%>
          <% if @trip.create_by == current_user.username %>
            <%= button_to "Edit this Trip", edit_trip_path(@trip), method: :get, class: "showPageButton" %>
            <%= button_to "Destroy this trip", @trip, method: :delete, class: "showPageButton" %>
          <% end %>
        <% end %>
      </div>
    <div id="postLocationDate">
      <ion-icon name="calendar-outline" style="margin-right: 10px"></ion-icon>
      <div>
        <%= convert_date(@trip.trip_date) %>
      </div>
    </div>
    <div id="createdAtInfo">
      Created at <%= @trip.created_at %>
    </div>
    <div id="nameAndDescription">
      <div id="tripCreatorName">
        @<%= @trip.create_by %>
      </div>
      <div id="tripDescriptionBox">
        <ion-icon name="reader-outline" style="font-size: 25px; margin-right: 10px" color="secondary"></ion-icon><%= @trip.description %>
      </div>
    </div>
  </div>
  <%triplocs = TripLocation.where(:trip_id => @trip.id)%>
  <%if !triplocs.nil?%>
    <%triplocs.each do |triploc|%>
      <div id="tripImageDetails">
        <div id="tripImageFrame">
          <%file = get_loc_info(triploc.location_id).images[0]%>
          <%if !file.nil?%>
            <% if file.representable? %>
              <%= image_tag file, :class => "showTripImage"%>
            <% else %>
              <%= link_to rails_blob_path(file, disposition: "attachment") do %>
                <%= image_tag "placeholder.png", alt: "Download file" %>
              <% end %>
            <% end %>
          <% else %>
            <%= image_tag "no_image_found.png", alt: "Download file" %>
          <%end%>
        </div>
        <div id="tripDetails">
          <% loc = get_loc_info(triploc.location_id)%>
          <div class="locationName"><%= loc.name %></div>
          <div class="iconAndDes"><ion-icon name="information-circle-outline" class="detailIcons" color="secondary"></ion-icon><div class="detailText"><%= loc.description %></div></div>
          <div class="rowCenter"><ion-icon name="location-outline" class="detailIcons" color="secondary"></ion-icon><div class="detailText"><%= loc.address %></div></div>
          <div class="rowCenter"><ion-icon name="logo-usd" class="detailIcons" color="secondary"></ion-icon><div class="detailText"><%= loc.price %></div></div>
          <div class="rowCenter"><ion-icon name="time-outline" class="detailIcons" color="secondary"></ion-icon><div class="detailText"><%= loc.open_times %></div></div>
          <div class="rowCenter"><ion-icon name="call-outline" class="detailIcons" color="secondary"></ion-icon><div class="detailText"><%= loc.contact %></div></div>
          <div id="locationActions">
            <%= button_to 'Remove this location', {:controller => "trip_locations", :action => "destroy", :triploc_id => triploc.id, :trip_id => triploc.trip_id} , :method=>:delete, class: "removeLocationBtn"  %>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
  <% if !current_user.nil? %>
    <% if current_user.trips.exists?(@trip.id) %>
      <div id="addNewLoc">
        <ion-icon name="add-circle-outline" style="font-size: 25px; margin-right: 5px;"></ion-icon>
        <%= link_to "Add a new location", "/trips/" << @trip.id.to_s << "/locations", id: "addNewLocButton" %>
      </div>
    <% end %>
  <% end %>
  <div id="backToHome">
    <ion-icon name="return-down-back-outline" style="font-size: 30px; margin-right: 10px;"></ion-icon><div>Back To Home</div>
  </div>
</div>