<p style="color: green"><%= notice %></p>
<div id="individualPost">
  <div id="tripHeaders">
    <div id="headerPrimary">
      <div id="postTitle">
        <div>
          <%= @trip.title %> ·
        </div>
      </div>
      <div id="postLocationDate">
        <div>
          <%= convert_date(@trip.trip_date) %>
        </div>
      </div>
      <div id="interactiveButtons">
        <div class="socialBtn">
          <%= @trip.upvotes %>
          <ion-icon name="heart-outline" style="font-size: 25px; margin-left: 10px" class="socialIconBtn"></ion-icon>
        </div>
        <div class="socialBtn">
          <%= @trip.shares %> 
          <ion-icon name="share-outline" style="font-size: 25px;  margin-left: 10px"  class="socialIconBtn"></ion-icon>
        </div>
      </div>
    </div>
    <div id="createdAtInfo">
      Created at <%= @trip.created_at %>
    </div>
    <div id="tripCreatorName">
      @<%= @trip.create_by %>
    </div>
    <div id="tripDescriptionBox">
      <div><strong>Description:</strong></div>
      <div>
        <%= @trip.description %>
      </div>
    </div>
  </div>
  <%triplocs = TripLocation.where(:trip_id => @trip.id)%>
  <%if !triplocs.nil?%>
    <%triplocs.each do |triploc|%>
      <div id="tripImageDetails">
        <div id="tripImageFrame">
          <%file = get_loc_info(triploc.location_id).images[0]%>
          <%if !file.nil?%>
            <% if file.representable? %>
              <%= image_tag file%>
            <% else %>
              <%= link_to rails_blob_path(file, disposition: "attachment") do %>
                <%= image_tag "placeholder.png", alt: "Download file" %>
              <% end %>
            <% end %>
          <% else %>
            <%= image_tag "no_image_found.png", alt: "Download file" %>
          <%end%>
        </div>
        <div id="tripDetails">
          <% loc = get_loc_info(triploc.location_id)%>
          <h1><%= loc.name %></h1>
          <h4>Description: <%= loc.description %></h4>
          <div>Address: <%= loc.address %></div>
          <div>Contact Information: <%= loc.contact %></div>
          <div>Price: <%= loc.price %></div>
          <div>Open Times: <%= loc.open_times %></div>
          <div id="locationActions">
            <button>Save this location</button>
            <%= button_to 'Remove this location', {:controller => "trip_locations", :action => "destroy", :triploc_id => triploc.id, :trip_id => triploc.trip_id} , :method=>:delete  %>
        </div>
        </div>
      </div>
    <%end%>
  <%end%>
  <%# <div id="tripImageDetails">
    <div id="tripImageFrame"></div>
    <div id="tripDetails">
    </div>
  </div> %>
  <% if !current_user.nil? %>
    <% if current_user.trips.exists?(@trip.id) %>
      <div id="addNewLoc">
        <%= link_to "Add a new location", "/trips/" << @trip.id.to_s << "/locations" %>
      </div>
    <% end %>
  <% end %>

  <div style="margin-bottom: 15px;">
    <button id="userSearchPopUp">Invite User to Trip</button>
  </div>
  <div id="userSearch"></div>

  <div class="bottomNavigation">
    <%= link_to "View related trips", "/trips/" << get_original_parent(@trip.id).to_s << "/branches" %>
    <% if !current_user.nil? %>
      <%if TripUser.where(trip_id: @trip.id).pluck(:user_id).include? current_user.id%>
        |
        <%= link_to "Create new version", "/trips/" << @trip.id.to_s << "/new_child" %>
      <%end%>
      <% if @trip.create_by == current_user.username %>
        |
        <%= link_to "Edit this trip", edit_trip_path(@trip) %> |
        <%= button_to "Destroy this trip", @trip, method: :delete %>
      <% end %>
    <% end %>
  </div>
</div>
