<p style="color: green"><%= notice %></p>
<div id="individualPost">
  <div id="tripHeaders">
    <div id="postTitle">
      <%= @trip.title %>
    </div>
    <div id="postLocationDate">
      <%= @trip.trip_date %>
    </div>
    <div>
      <%= render @trip %>
    </div>
  </div>
  <%triplocs = TripLocation.where(:trip_id => @trip.id)%>
  <%if !triplocs.nil?%>
    <%triplocs.each do |triploc|%>
      <div id="tripImageDetails">
        <div id="tripImageFrame">
          <%file = get_loc_info(triploc.location_id).images[0]%>
          <%if !file.nil?%>
            <% if file.representable? %>
              <%= image_tag file%>
            <% else %>
              <%= link_to rails_blob_path(file, disposition: "attachment") do %>
                <%= image_tag "placeholder.png", alt: "Download file" %>
              <% end %>
            <% end %>
          <% else %>
            <%= image_tag "no_image_found.png", alt: "Download file" %>
          <%end%>
        </div>
        <div id="tripDetails">
          <% loc = get_loc_info(triploc.location_id)%>
          <h1><%= loc.name %></h1>
          <h4><%= loc.description %></h4>
          <div><%= loc.address %></div>
          <div><%= loc.contact %></div>
          <div><%= loc.price %></div>
          <div><%= loc.open_times %></div>
        </div>
      </div>
    <%end%>
  <%end%>
  <% if !current_user.nil? %>
    <% if current_user.trips.exists?(@trip.id) %>
      <div id="addNewLoc">
        <%= link_to "Add a new location", "/trips/" << @trip.id.to_s << "/locations" %>
      </div>
    <% end %>
  <% end %>

  <%# Invite user to trip popup and search %>
  <button id="popUp">Invite User to Trip</button>
  <div id="searchUser">
    <div style="margin-bottom: 15px;">
      <input type="text" placeholder="Search User" id="userSearch"/>
      <button id="showUsers">search</button>
    </div>
    <div id="userResults"></div>
  </div>

  <div class="bottomNavigation">
    <%= link_to "View related trips", "/trips/" << get_original_parent(@trip.id).to_s << "/branches" %>
    <% if !current_user.nil? %>
      <%if TripUser.where(trip_id: @trip.id).pluck(:user_id).include? current_user.id%>
        |
        <%= link_to "Create new version", "/trips/" << @trip.id.to_s << "/new_child" %>
      <%end%>
      <% if @trip.create_by == current_user.username %>
        |
        <%= link_to "Edit this trip", edit_trip_path(@trip) %> |
        <%= button_to "Destroy this trip", @trip, method: :delete %>
      <% end %>
    <% end %>
  </div>
</div>

<div id='screen'>
</div>