<p style="color: green"><%= notice %></p>
<div id="individualPost">
  <div id="tripHeaders">
    <div id="postTitle">
      <%= @trip.title %>
    </div>
    <div id="postLocationDate">
      <%= @trip.trip_date %>
    </div>
    <div>
      <%= render @trip %>
    </div>
  </div>
  <div id="tripImageDetails">
    <%triplocs = TripLocation.where(:trip_id => @trip.id)%>
    <%if !triplocs.nil?%>
      <%triplocs.each do |triploc|%>
          <div id="tripImageFrame"><%= image_tag(Location.find(id=triploc.location_id).images[0], :alt => "path") %></div>
      <%end%>
    <%end%>
    <div id="tripDetails"></div>
  </div>
  <div id="tripProgressBar">
    <div id="openBubble"></div>
    <div id="closedBubble"></div>
    <div id="closedBubble"></div>
  </div>
  <div id="tripImageDetails">
    <div id="tripImageFrame"><%= image_tag("path.JPG", :alt => "path") %></div>
    <div id="tripDetails">
    </div>
  </div>
  <div id="tripImageDetails">
    <div id="tripImageFrame"><%= image_tag("path.JPG", :alt => "path") %></div>
    <div id="tripDetails">
    </div>
  </div>
  <div>
    <%= link_to "Edit this trip", edit_trip_path(@trip) %> |
    <%= link_to "Back to trips", trips_path %>

    <%= button_to "Destroy this trip", @trip, method: :delete %>
  </div>

</div>
