<%= render "layouts/flash"%>
<% provide(:title, "Log in") %>
<h1>Weclome back Triper! </h1>

<div class="formcontainer">
  <div class="formbox">
    <div id="headerTitle">    
      <a href="<%= root_path %>">
      <%= image_tag("THLogo.png", :alt => "TripHub logo", class:"logo") %>  
    </a></div>
    <%= form_with(url: login_path, scope: :session) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "formbutton" %>
    <% end %>

    
  </div>

  <div class="formbox">
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>