<%= form_with(model: star_fan) do |form| %>
  <% if star_fan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(star_fan.errors.count, "error") %> prohibited this star_fan from being saved:</h2>

      <ul>
        <% star_fan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :star_id, style: "display: block" %>
    <%= form.text_field :star_id %>
  </div>

  <div>
    <%= form.label :fan_id, style: "display: block" %>
    <%= form.text_field :fan_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
