<%= render "layouts/flash"%>
<header>

	<div class="container">

		<div class="profile">

			<div class="profile-image">

				<img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name">
          <%= @user.name %>
        </h1>

        <% if current_user.id == @user.id %>
				<button class="btn profile-edit-btn">
          <%= link_to "Setting",  edit_user_path%>
        </button>
        <% else %>
          <% if following?(@user) %>
            <button class="btn profile-edit-btn">
            <%= link_to "Follow",  followuser_path(:star => @user.id, :fan => current_user.id)%>
           </button>
          <% else %>
            <button class="btn profile-edit-btn">
            <%= link_to "Unfollow",  followuser_path(:star => @user.id, :fan => current_user.id)%>
            </button>
          <% end %>
        <% end %>

			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count"><%=@user.trips.count%></span> posts</li>
					<li><span class="profile-stat-count"><%= link_to "followers: #{@user.followers.count}", follows_path(:id => @user.id, :type => 'follower') %></span></li>
					<li><span class="profile-stat-count"><%= link_to "followings: #{@user.followings.count}", follows_path(:id => @user.id, :type => 'following') %></span></li>
				</ul>

			</div>

			<div class="profile-bio">

				<p><%= @user.user_slogen %></p>

			</div>
      <% if current_user.id == @user.id %>
       <div class="sign-out-button">
            <%= link_to "Log out",  logout_path, data: { "turbo-method": :delete } %>
       </div> 
      <% end %>
		</div>
	</div>
</header>

<div>
  <div id="trips">
    <% @trips.each do |trip| %>
    <% if trip.public == true  or current_user.id == @user.id or !following?(@user)%>
     <div class="singleTripBox">
        <div class="singleTripImage">
          <div class="bookmark">
          <% if liked?(trip) %>
            <%= link_to '<ion-icon name="heart-outline" style="font-size: 30px; margin-left: 10px; color: white" class="socialIconBtn"></ion-icon>'.html_safe, likesupdate_path(trip: trip) %>
          <% else %>
            <%= link_to '<ion-icon name="heart" style="font-size: 30px; margin-left: 10px; color: white" class="socialIconBtn"></ion-icon>'.html_safe, likesupdate_path(trip: trip) %>
          <% end %>
          </div>
          <div id="save"></div>
          
          <% imgs = [] %>
          <%TripLocation.where(trip_id: trip.id).each do |triploc|%>
            <% file = Location.where(id: triploc.location_id)[0].images[0] %>
            <%if !file.nil?%>
              <% imgs.append(file) %>
            <%end%>
          <% end %>
          <%if imgs.length > 0%>
            <%=carousel_for(imgs)%>
          <%end%>
        </div>
        <div class="singleTripDetails">
          <div class="singleTripBold">
            <a href="/trips/<%= trip.id %>" id="tripTitleLink"><%= trip.title %></a>
            <div><%= get_likes(trip) %> 
              <% if get_likes(trip) == 1 %>
                like
              <% else %>
                likes
              <% end %>
            </div>
          </div>
          <div class="singleTripBoldUser">
          <%= link_to user_path(User.where("username = ?", trip.create_by).ids),  :style => 'color:black' do %>
            <div class="singleUserText">@<%= trip.create_by %></div>
          <% end %>
          </div>
          <div class="singleTripNorm"><%= trip.trip_date %></div>
        </div>
        
          <%= link_to "Show this trip", trip %>
        
      </div>
      <% end %>
    <% end %>
  </div>