<%= form_with(model: location) do |form| %>
  

   

  <div class ="form__group field">
    <%= form.text_field :name, placeholder: "Name", class: "form__field" %>
    <label for="name" class="form__label">Name</label>
  </div>


    
  <div class ="form__group field" style="margin-top: 5px">
    <%= form.text_field :description, placeholder: "Description", class: "form__field" %>
    <label for="description" class="form__label">Description</label>
  </div>


  
  <div class ="form__group field">
    <%= form.text_field :address, placeholder: "Address", class: "form__field" %>
    <label for="address" class="form__label">Address</label>
  </div>



  
  <div class ="form__group field">
    <%= form.text_field :contact, placeholder: "Contact", class: "form__field" %>
    <label for="contact" class="form__label">Contact</label>
  </div>



  
  <div class ="form__group field">
    <%= form.number_field :price, placeholder: "Price", class: "form__field" %>
    <label for="price" class="form__label">Price</label>
  </div>


  
  <div class ="form__group field">
    <%= form.text_field :open_times, placeholder: "Open Times", class: "form__field" %>
    <label for="open_times" class="form__label">Open Times</label>
  </div>


  <div class ="form__group field">
    <%= form.file_field :images, placeholder: "Images", class: "form__field" %>
    <label for="images" class="form__label">Images</label>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
