<div id="<%= dom_id location %>">
  <p>
    <strong>Location:</strong>
    <%= location.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= location.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= location.address %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= location.contact %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= location.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= location.image %>
  </p>

  <p>
    <strong>Open times:</strong>
    <%= location.open_times %>
  </p>

</div>
