<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: rgb(104, 69, 134);">
  <div class="containerHeader">
    <div id="headerTitle">    
      <a href="<%= root_path %>">
    <%= image_tag("THLogo.png", :alt => "TripHub logo", class:"logo") %>  </a></div>
    <nav id="headerNav">
      <div class="navbar-header">
        <button id="hamburger" type="button" class="navbar-toggle collapsed">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul id="navbar-menu" class="nav navbar-nav navbar-right collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Add Trip", new_trip_path %></li>
          <li><%= link_to "Add Planner", new_trip_path %></li>
          <li><%= link_to "Notifications", new_trip_path %></li>
        </ul>
      </ul>
    </nav>
    <div id="quickProfileContainer">
      <div id="quickProfile">
        <div id="quickProfileAction"></div>
        <div id="quickProfilePhoto"></div>
      </div>
    </div>
  </div>
</header>