<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: rgb(104, 69, 134);">
  <div class="containerHeader">
    <div id="headerTitle">    
      <a href="<%= root_path %>">
    <%= image_tag("THLogo.png", :alt => "TripHub logo", class:"logo") %>  </a></div>
    <nav id="headerNav">
      <div class="navbar-header">
        <button id="hamburger" type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul id="navbar-menu" class="nav navbar-nav navbar-right collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "My Trips", "/users/" << current_user.id.to_s << "/trips" %></li>
          <li><%= link_to "Create Trip", new_trip_path %></li>
          <li><%= link_to "Create Location", new_location_path %></li>
          <li class="dropdown">
            <a href="#" id="account" class="dropdown-toggle">
              <%= current_user.username %> <b class="caret"></b>
            </a>
            <ul id="dropdown-menu" class="dropdown-menu">
              <li class = "dropdown-item"><%= link_to "Profile", current_user %></li>
              <li class = "dropdown-item"><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class = "dropdown-item">
                <%= link_to "Log out", logout_path, data: { "turbo-method": :delete } %>
              </li>
            </ul>
        </li>
        <% else %>
          <li><%= link_to "Log in", login_path%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>